# 01 | Transform the Data

# Introduction
In this notebook, we will deal with the data transformation steps required to proceed with our analysis. This process will be reproduced as .py files later on.

# Goals:
Targeted objectives in this notebook ar checked as follows:

- [ ] Import the raw data
  -  [ ] SIPRI dataset and capitals coordinates
- [ ]  Store the raw data
- [x] Prepare the data
  - [x] Clean each individual table
  - [x] Store the transformed dataset
- [ ] Combine both datasets
  - Check if the merging column values match
- [ ] Store the final output

# Set up our working environment

In [46]:
# Import required libraries
import pandas as pd
import numpy as np
import os

In [47]:
# Create directory folders to store our data
dirname = os.getcwd()

raw_data = f"{dirname}/data/raw/"
transformed_data = f"{dirname}/data/transformed/"
refined_data = f"{dirname}/data/refined/"

paths = [raw_data, transformed_data, refined_data]

for path in paths:
    if not os.path.exists(path):
        os.makedirs(path)

# Data Transformation | SIPRI dataset
Let's start by preparing our main dataset for data analysis.

## Import raw data
We'll first import the raw data that we stored during the previous step. Because we have three indivual tables that must turn into one, we must establish a few steps:
- Import a single table;
- Analyse the required transformation steps we need;
- Apply the transformations;
- Loop through the 3 tables and pass the same steps (if possible);

### Import data
We can start by using table 5 (Constant US$ (2022)).

In [48]:
sipri_raw = sipri_raw = pd.read_csv(f"{raw_data}sipri_data_raw_tb_5.csv")
sipri_raw.head()

,"Military expenditure by country, in millions of US$ at current prices and exchange rates, 1948-2023 © SIPRI 2023",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77
0,"Figures are in US $m., in current prices, conv...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Figures in blue are SIPRI estimates. Figures i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,""". ."" = data unavailable. ""xxx"" = country did ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Country,Notes,1948,1949,1950,1951,1952,1953,1954,1955,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023

**Challenge** – the table contains additional non-tabular information on the first rows. We must remove them. Considering that the number of extra rows may differ between each `.csv` file, we need to dynamically identify what is our header. We need to:
- Read the file.
- Iterate through each line using `enumerate`.
- For each value in each index, if `Country` appears, return the index value `i` and define it as `header_row`
  - It will be used to define the number of rows we need to skip when reading our `.csv` file.

In [49]:
# Read the file in chunks to find the header row
with open(f"{raw_data}sipri_data_raw_tb_5.csv", "r") as file:
    for i, line in enumerate(file):
        if "Country" in line:
            header_row = i # define header if `Country` is a value
            break

In [50]:
sipri_raw_tb5 = pd.read_csv(f"{raw_data}sipri_data_raw_tb_5.csv", skiprows=header_row, header=0)
sipri_raw_tb5.head()

,Country,Notes,1948,1949,1950,1951,1952,1953,1954,1955,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,North Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Algeria,§,...,...,...,...,...,...,...,...,...,9724.379971923256,10412.714002896393,10217.081699569308,10073.364021301344,9583.7242883703,10303.60057521065,9708.277440227255,9112.461105348943,9145.810174207281,18263.96796826213
4,Libya,‡§¶,...,...,...,...,...,...,...,...,...,3755.652496350929,...,...,...,...,...,...,...,...,...

In [51]:
sipri_raw_tb5.tail()

,Country,Notes,1948,1949,1950,1951,1952,1953,1954,1955,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
188,Syria,§,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Türkiye,‖,...,197.68186020052622,212.97020550380432,231.81397994737964,257.7686126715495,294.0339899025812,332.0770817037616,382.9197184100121,...,17576.538470505897,15668.749999999998,17827.702150796664,17822.738263164494,19648.69382385138,20436.917121238785,17478.41368526983,15567.410029425082,10779.896284618242,15827.853255045886
190,United Arab Emirates,§,...,...,...,...,...,...,...,...,...,22755.071477195375,...,...,...,...,...,...,...,...,...
191,"Yemen, North",§,...,...,...,...,...,...,...,...,...,xxx,xxx,xxx,xxx,xxx,xxx,xxx,xxx,xxx,xxx
192,Yemen,§,...,...,...,...,...,...,...,...,...,1714.8308436874681,...,...,...,...,...,...,...,...,...

Great! Now, we can take a brief look at the structure of our dataset.

In [52]:
sipri_raw_tb5.shape

(193, 78)

In [53]:
sipri_raw_tb5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 78 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  192 non-null    object
 1   Notes    79 non-null     object
 2   1948     174 non-null    object
 3   1949     174 non-null    object
 4   1950     174 non-null    object
 5   1951     174 non-null    object
 6   1952     174 non-null    object
 7   1953     174 non-null    object
 8   1954     174 non-null    object
 9   1955     174 non-null    object
 10  1956     174 non-null    object
 11  1957     174 non-null    object
 12  1958     174 non-null    object
 13  1959     174 non-null    object
 14  1960     174 non-null    object
 15  1961     174 non-null    object
 16  1962     174 non-null    object
 17  1963     174 non-null    object
 18  1964     174 non-null    object
 19  1965     174 non-null    object
 20  1966     174 non-null    object
 21  1967     174 non-null    object
 22  1968     174 non-null    object
 23  1969     174 non-null    object
 24  1970     174 non-null    object
 25  1971     174 non-null    object
 26  1972     174 non-null    object
 27  1973     174 non-null    object
 28  1974     174 non-null    object
 29  1975     174 non-null    object
 30  1976     174 non-null    object
 31  1977     174 non-null    object
 32  1978     174 non-null    object
 33  1979     174 non-null    object
 34  1980     174 non-null    object
 35  1981     174 non-null    object
 36  1982     174 non-null    object
 37  1983     174 non-null    object
 38  1984     174 non-null    object
 39  1985     174 non-null    object
 40  1986     174 non-null    object
 41  1987     174 non-null    object
 42  1988     174 non-null    object
 43  1989     174 non-null    object
 44  1990     174 non-null    object
 45  1991     174 non-null    object
 46  1992     174 non-null    object
 47  1993     174 non-null    object
 48  1994     174 non-null    object
 49  1995     174 non-null    object
 50  1996     174 non-null    object
 51  1997     174 non-null    object
 52  1998     174 non-null    object
 53  1999     174 non-null    object
 54  2000     174 non-null    object
 55  2001     174 non-null    object
 56  2002     174 non-null    object
 57  2003     174 non-null    object
 58  2004     174 non-null    object
 59  2005     174 non-null    object
 60  2006     174 non-null    object
 61  2007     174 non-null    object
 62  2008     174 non-null    object
 63  2009     174 non-null    object
 64  2010     174 non-null    object
 65  2011     174 non-null    object
 66  2012     174 non-null    object
 67  2013     174 non-null    object
 68  2014     174 non-null    object
 69  2015     174 non-null    object
 70  2016     174 non-null    object
 71  2017     174 non-null    object
 72  2018     174 non-null    object
 73  2019     174 non-null    object
 74  2020     174 non-null    object
 75  2021     174 non-null    object
 76  2022     174 non-null    object
 77  2023     174 non-null    object
dtypes: object(78)
memory usage: 117.7+ KB

In [54]:
sipri_raw_tb5["Country"].unique()

array([nan, 'Africa', 'North Africa', 'Algeria', 'Libya', 'Morocco',
       'Tunisia', 'sub-Saharan Africa', 'Angola', 'Benin', 'Botswana',
       'Burkina Faso', 'Burundi', 'Cameroon', 'Cape Verde',
       'Central African Republic', 'Chad', 'Congo, DR', 'Congo, Republic',
       "Cote d'Ivoire", 'Djibouti', 'Equatorial Guinea', 'Eritrea',
       'Ethiopia', 'Gabon', 'Gambia, The', 'Ghana', 'Guinea',
       'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia', 'Madagascar',
       'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Mozambique',
       'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Senegal', 'Seychelles',
       'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 'Sudan',
       'Eswatini', 'Tanzania', 'Togo', 'Uganda', 'Zambia', 'Zimbabwe',
       'Americas', 'Central America and the Caribbean', 'Belize',
       'Costa Rica', 'Cuba', 'Dominican Republic', 'El Salvador',
       'Guatemala', 'Haiti', 'Honduras', 'Jamaica', 'Mexico', 'Nicaragua',
       'Panama', 'Trinidad and Tobago', 'North America', 'Canada',
       'United States of America', 'South America', 'Argentina',
       'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Ecuador', 'Guyana',
       'Paraguay', 'Peru', 'Uruguay', 'Venezuela', 'Asia & Oceania',
       'Oceania', 'Australia', 'Fiji', 'New Zealand', 'Papua New Guinea',
       'South Asia', 'Afghanistan', 'Bangladesh', 'India', 'Nepal',
       'Pakistan', 'Sri Lanka', 'East Asia', 'China', 'Japan',
       'Korea, North', 'Korea, South', 'Mongolia', 'Taiwan',
       'South East Asia', 'Brunei', 'Cambodia', 'Indonesia', 'Laos',
       'Malaysia', 'Myanmar', 'Philippines', 'Singapore', 'Thailand',
       'Timor Leste', 'Viet Nam', 'Central Asia', 'Kazakhstan',
       'Kyrgyz Republic', 'Tajikistan', 'Turkmenistan', 'Uzbekistan',
       'Europe', 'Central Europe', 'Albania', 'Bosnia and Herzegovina',
       'Bulgaria', 'Croatia', 'Czechia', 'Czechoslovakia', 'Estonia',
       'German Democratic Republic', 'Hungary', 'Kosovo', 'Latvia',
       'Lithuania', 'North Macedonia', 'Montenegro', 'Poland', 'Romania',
       'Serbia', 'Slovakia', 'Slovenia', 'Yugoslavia', 'Eastern Europe',
       'Armenia', 'Azerbaijan', 'Belarus', 'Georgia', 'Moldova', 'Russia',
       'Ukraine', 'USSR', 'Western Europe', 'Austria', 'Belgium',
       'Cyprus', 'Denmark', 'Finland', 'France', 'Germany', 'Greece',
       'Iceland', 'Ireland', 'Italy', 'Luxembourg', 'Malta',
       'Netherlands', 'Norway', 'Portugal', 'Spain', 'Sweden',
       'Switzerland', 'United Kingdom', 'European Union', 'Middle East',
       'Bahrain', 'Egypt', 'Iran', 'Iraq', 'Israel', 'Jordan', 'Kuwait',
       'Lebanon', 'Oman', 'Qatar', 'Saudi Arabia', 'Syria', 'Türkiye',
       'United Arab Emirates', 'Yemen, North', 'Yemen'], dtype=object)

After a quick glance, we've identified a few cleaning tasks:
- Remove unwanted columns
- Pivot year columns
- Remove regions
- Filter data
- Define each data type for each column
- Rename country names (if needed)
- Rename column names


We need to perform these tasks for each table. Then, we need to
- [ ] Join the three tables
  
### Remove unwanted columns
Remove `Notes`.

In [55]:
columns_to_drop = sipri_raw_tb5.columns[1]
sipri_raw_tb5 = sipri_raw_tb5.drop(columns=columns_to_drop)

In [56]:
sipri_raw_tb5.head()

,Country,1948,1949,1950,1951,1952,1953,1954,1955,1956,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,North Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Algeria,...,...,...,...,...,...,...,...,...,...,9724.379971923256,10412.714002896393,10217.081699569308,10073.364021301344,9583.7242883703,10303.60057521065,9708.277440227255,9112.461105348943,9145.810174207281,18263.96796826213
4,Libya,...,...,...,...,...,...,...,...,...,...,3755.652496350929,...,...,...,...,...,...,...,...,...

### Pivot Year Columns

In [57]:
columns_to_pivot = sipri_raw_tb5.columns[1:]
sipri_raw_tb5 = sipri_raw_tb5.melt(
    id_vars="Country",
    value_vars=columns_to_pivot,
    var_name="year",
    value_name="military_expenditures_usd_2022")

In [58]:
sipri_raw_tb5

                    Country  year military_expenditures_usd_2022
0                       NaN  1948                            NaN
1                    Africa  1948                            NaN
2              North Africa  1948                            NaN
3                   Algeria  1948                            ...
4                     Libya  1948                            ...
...                     ...   ...                            ...
14663                 Syria  2023                            ...
14664               Türkiye  2023             15827.853255045886
14665  United Arab Emirates  2023                            ...
14666          Yemen, North  2023                            xxx
14667                 Yemen  2023                            ...

[14668 rows x 3 columns]

### Remove regions
We can perform this task by cleaning null values from our pivoted column.

In [59]:
sipri_raw_tb5 = sipri_raw_tb5.dropna(subset=["military_expenditures_usd_2022"])

In [60]:
sipri_raw_tb5

                    Country  year military_expenditures_usd_2022
3                   Algeria  1948                            ...
4                     Libya  1948                            ...
5                   Morocco  1948                            ...
6                   Tunisia  1948                            ...
8                    Angola  1948                            ...
...                     ...   ...                            ...
14663                 Syria  2023                            ...
14664               Türkiye  2023             15827.853255045886
14665  United Arab Emirates  2023                            ...
14666          Yemen, North  2023                            xxx
14667                 Yemen  2023                            ...

[13224 rows x 3 columns]

In [61]:
# Check for empty rows
sipri_raw_tb5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13224 entries, 3 to 14667
Data columns (total 3 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Country                         13224 non-null  object
 1   year                            13224 non-null  object
 2   military_expenditures_usd_2022  13224 non-null  object
dtypes: object(3)
memory usage: 413.2+ KB

### Define data types
We need to:
- Convert `year` to `int`.
- Convert `military_expenditures_usd_2022` to `float`.
  - First, convert missing values signed as `xxx` to `NaN`.

In [62]:
# Identify non-numeric values
non_numeric_rows = sipri_raw_tb5[pd.to_numeric(sipri_raw_tb5["military_expenditures_usd_2022"], errors="coerce").isna()]
non_numeric_rows

                    Country  year military_expenditures_usd_2022
3                   Algeria  1948                            ...
4                     Libya  1948                            ...
5                   Morocco  1948                            ...
6                   Tunisia  1948                            ...
8                    Angola  1948                            ...
...                     ...   ...                            ...
14661                 Qatar  2023                            ...
14663                 Syria  2023                            ...
14665  United Arab Emirates  2023                            ...
14666          Yemen, North  2023                            xxx
14667                 Yemen  2023                            ...

[4527 rows x 3 columns]

In [63]:
non_numeric_rows["military_expenditures_usd_2022"].unique()

array(['...', 'xxx'], dtype=object)

Ok! We've identified our null values. We need to replace them with NaN and convert the column to numeric.

In [64]:
# Replace non-numeric values with NaN
sipri_raw_tb5.loc[:,"military_expenditures_usd_2022"] = pd.to_numeric(
    sipri_raw_tb5["military_expenditures_usd_2022"], errors="coerce"
)

In [65]:
sipri_raw_tb5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13224 entries, 3 to 14667
Data columns (total 3 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Country                         13224 non-null  object
 1   year                            13224 non-null  object
 2   military_expenditures_usd_2022  8697 non-null   object
dtypes: object(3)
memory usage: 413.2+ KB

We can now remove NaN values.

In [66]:
sipri_raw_tb5 = sipri_raw_tb5.dropna(subset=["military_expenditures_usd_2022"])
sipri_raw_tb5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8697 entries, 58 to 14664
Data columns (total 3 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Country                         8697 non-null   object
 1   year                            8697 non-null   object
 2   military_expenditures_usd_2022  8697 non-null   object
dtypes: object(3)
memory usage: 271.8+ KB

Great! Let's move on. We now need to convert `year` to `int`.

In [67]:
sipri_raw_tb5 = sipri_raw_tb5.copy()
sipri_raw_tb5["year"] = sipri_raw_tb5["year"].astype(int)
sipri_raw_tb5["military_expenditures_usd_2022"] = sipri_raw_tb5["military_expenditures_usd_2022"].astype(float)

In [68]:
sipri_raw_tb5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8697 entries, 58 to 14664
Data columns (total 3 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Country                         8697 non-null   object
 1   year                            8697 non-null   int64
 2   military_expenditures_usd_2022  8697 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 271.8+ KB

### Filter data
We need to get:
- Data from 1990 onwards
- Limit our request to European countries only.

Let's start with the first task.

In [69]:
# Get years from 1990 to 2024
years = sipri_raw_tb5["year"].astype(int)
years = years[(years >= 1993) & (years <= 2024)]
years = years.unique()
years

array([1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
       2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014,
       2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023])

In [70]:
# Filter the dataset using the `years` variable as filter
sipri_raw_tb5 = sipri_raw_tb5[sipri_raw_tb5["year"].isin(years)]
sipri_raw_tb5

            Country  year  military_expenditures_usd_2022
8688        Algeria  1993                     1276.911083
8690        Morocco  1993                     1251.786538
8691        Tunisia  1993                      276.167135
8693         Angola  1993                     1774.397877
8695       Botswana  1993                      185.671483
...             ...   ...                             ...
14658        Kuwait  2023                     7755.031936
14659       Lebanon  2023                      241.290151
14660          Oman  2023                     5851.755527
14662  Saudi Arabia  2023                    75813.333333
14664       Türkiye  2023                    15827.853255

[4749 rows x 3 columns]

In [71]:
sipri_raw_tb5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4749 entries, 8688 to 14664
Data columns (total 3 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Country                         4749 non-null   object
 1   year                            4749 non-null   int64
 2   military_expenditures_usd_2022  4749 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 148.4+ KB

Let's now get a list of countries and return only a list of European countries.

In [72]:
sipri_raw_tb5["Country"].sort_values().unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain',
       'Bangladesh', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Cape Verde', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Congo, DR', 'Congo, Republic',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czechia', 'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador',
       'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'European Union', 'Fiji', 'Finland',
       'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana',
       'Greece', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'Korea, North', 'Korea, South',
       'Kosovo', 'Kuwait', 'Kyrgyz Republic', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Malta', 'Mauritania',
       'Mauritius', 'Mexico', 'Moldova', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Slovakia', 'Slovenia', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Sweden', 'Switzerland', 'Syria',
       'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor Leste',
       'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkmenistan',
       'Türkiye', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States of America', 'Uruguay',
       'Uzbekistan', 'Venezuela', 'Viet Nam', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [73]:
# List European countries
european_countries = [
    "Albania", "Armenia", "Austria", "Azerbaijan", 
    "Belarus", "Belgium", "Bosnia and Herzegovina", "Bulgaria",
    "Croatia", "Cyprus", "Czechia", "Czechoslovakia", "Denmark",
    "Estonia", "Finland", "France", "Georgia",
    "Germany", "Greece", "Hungary", "Iceland", 
    "Ireland", "Italy", "Kosovo", "Latvia",
    "Luxembourg", "Malta", "Moldova", "Montenegro",
    "Netherlands", "North Macedonia", "Norway", "Poland",
    "Portugal", "Romania", "Russia", "Serbia", 
    "Slovakia", "Slovenia", "Spain", "Sweden",
    "Switzerland", "Türkiye", "USSR", "Ukraine",
    "United Kingdom", "Yugoslavia"
]

sipri_raw_tb5 = sipri_raw_tb5[sipri_raw_tb5["Country"].isin(european_countries)]
sipri_raw_tb5

              Country  year  military_expenditures_usd_2022
8810          Albania  1993                       39.289843
8812         Bulgaria  1993                      282.674243
8813          Croatia  1993                      577.978269
8814          Czechia  1993                      815.585467
8816          Estonia  1993                       13.146560
...               ...   ...                             ...
14646           Spain  2023                    23699.130514
14647          Sweden  2023                     8754.872951
14648     Switzerland  2023                     6293.390648
14649  United Kingdom  2023                    74942.843460
14664         Türkiye  2023                    15827.853255

[1318 rows x 3 columns]

In [74]:
sipri_raw_tb5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1318 entries, 8810 to 14664
Data columns (total 3 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Country                         1318 non-null   object
 1   year                            1318 non-null   int64
 2   military_expenditures_usd_2022  1318 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 41.2+ KB

Great! Now, our values are written in millions but not literally - we need to multiply each row value by `1_000_000`

In [75]:
sipri_raw_tb5["military_expenditures_usd_2022"] *= 1_000_000
sipri_raw_tb5

C:\Users\felip\AppData\Local\Temp\ipykernel_12612\62565056.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sipri_raw_tb5["military_expenditures_usd_2022"] *= 1_000_000

              Country  year  military_expenditures_usd_2022
8810          Albania  1993                    3.928984e+07
8812         Bulgaria  1993                    2.826742e+08
8813          Croatia  1993                    5.779783e+08
8814          Czechia  1993                    8.155855e+08
8816          Estonia  1993                    1.314656e+07
...               ...   ...                             ...
14646           Spain  2023                    2.369913e+10
14647          Sweden  2023                    8.754873e+09
14648     Switzerland  2023                    6.293391e+09
14649  United Kingdom  2023                    7.494284e+10
14664         Türkiye  2023                    1.582785e+10

[1318 rows x 3 columns]

Awesome! Now, we just need to rename our `Country` column to `country`.

In [76]:
sipri_raw_tb5 = sipri_raw_tb5.rename(columns={
    "Country": "country"
})

In [77]:
sipri_raw_tb5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1318 entries, 8810 to 14664
Data columns (total 3 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   country                         1318 non-null   object
 1   year                            1318 non-null   int64
 2   military_expenditures_usd_2022  1318 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 41.2+ KB

In [78]:
sipri_raw_tb5.describe()

              year  military_expenditures_usd_2022
count  1318.000000                    1.318000e+03
mean   2008.358877                    7.566608e+09
std       8.859369                    1.496518e+10
min    1993.000000                    0.000000e+00
25%    2001.000000                    2.954485e+08
50%    2009.000000                    1.476213e+09
75%    2016.000000                    5.524561e+09
max    2023.000000                    1.094544e+11

Awesome! Our table is ready. We need to perform these same tasks on tables #6 and #7. It would be the right time to create a few functions to automate this process.

In [79]:
def transform_data(raw_data, table_number, column_name, start_year, end_year, countries_list, renamed_column) -> pd.DataFrame:
    """
    Reads the `.csv` file and performs a series of transformations.
    """
    # Initialize header_row
    header_row = None

    # Debug: Print the table being processed
    print(f"Processing table {table_number}...")

    # Dynamically find the header row
    with open(f"{raw_data}sipri_data_raw_tb_{table_number}.csv", "r") as file:
        for i, line in enumerate(file):
            if "Country" in line:
                header_row = i  # Define header if `Country` is a value
                break

    # Debug: Print the header_row value
    print(f"Header row for table {table_number}: {header_row}")

    # Raise an error if header_row is not found
    if header_row is None:
        raise ValueError(f"'Country' header not found in table {table_number}")

    # Read the file
    df = pd.read_csv(f"{raw_data}sipri_data_raw_tb_{table_number}.csv", skiprows=header_row, header=0)

    print(f"\nFirst 3 rows: \n{df.head(3)}")
    
    # Dynamically identify columns to drop
    # Keep "Country" and all columns starting with a year
    columns_to_keep = ["Country"] + [col for col in df.columns if col.strip().isdigit()]
    df = df[columns_to_keep]
    
    # Pivot year columns
    columns_to_pivot = df.columns[1:]
    df = df.melt(
        id_vars="Country",
        value_vars=columns_to_pivot,
        var_name="year",
        value_name=column_name
    )

    # Remove regions
    df = df.dropna(subset=[column_name])

    # Replace non-numeric values with NaN
    df.loc[:, column_name] = pd.to_numeric(df[column_name], errors="coerce")

    # Convert data types to numeric
    df["year"] = df["year"].astype(int)
    df[column_name] = df[column_name].astype(float)

    # Filter the dataset by years
    df = df[(df["year"] >= start_year) & (df["year"] <= end_year)]

    # Filter by European countries
    df = df[df["Country"].isin(countries_list)]

    # If table is 5 or 6, multiply column value by 1,000,000
    if table_number in [4, 5]:
        df[column_name] *= 1_000_000

    # Rename `Country` column
    df = df.rename(columns={
    "Country": renamed_column
})

    print(f"Table {table_number} output: \n{df.head()}")
    return df

In [80]:
# Define the parameters for each table
tables = [
    {"table_number" : 4, "column_name": "military_expenditures_usd_2022"},
    {"table_number" : 5, "column_name": "military_expenditures_current_usd"},
    {"table_number" : 6, "column_name": "share_GDP"},
    {"table_number" : 8, "column_name": "share_govt"},
]

start_year = 1993
end_year = 2024

countries_list = [
    "Albania", "Armenia", "Austria", "Azerbaijan", 
    "Belarus", "Belgium", "Bosnia and Herzegovina", "Bulgaria",
    "Croatia", "Czechia", "Czechoslovakia", "Denmark",
    "Estonia", "Finland", "France", "Georgia",
    "Germany", "Greece", "Hungary", "Iceland", 
    "Ireland", "Italy", "Kosovo", "Latvia",
    "Luxembourg", "Malta", "Moldova", "Montenegro",
    "Netherlands", "North Macedonia", "Norway", "Poland",
    "Portugal", "Romania", "Russia", "Serbia", 
    "Slovakia", "Slovenia", "Spain", "Sweden",
    "Switzerland", "Türkiye", "USSR", "Ukraine",
    "United Kingdom", "Yugoslavia"
]

renamed_column = "country"

In [81]:
# Store the resulting DataFrames in variables
sipri_tb4, sipri_tb5, sipri_tb6, sipri_tb8 = [
    transform_data(
        raw_data=raw_data,
        table_number=table["table_number"],
        column_name=table["column_name"],
        start_year=start_year,
        end_year=end_year,
        countries_list=countries_list,
        renamed_column=renamed_column
    )
for table in tables]

Processing table 4...
Header row for table 4: 5

First 3 rows:
        Country  Unnamed: 1 Notes 1948 1949 1950 1951 1952 1953 1954  ...  \
0           NaN         NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...
1        Africa         NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...
2  North Africa         NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...

  2014 2015 2016 2017 2018 2019 2020 2021 2022 2023
0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[3 rows x 79 columns]
Table 4 output:
                     country  year  military_expenditures_usd_2022
8810                 Albania  1993                    1.515335e+08
8811  Bosnia and Herzegovina  1993                             NaN
8812                Bulgaria  1993                    1.134818e+09
8813                 Croatia  1993                    2.609599e+09
8814                 Czechia  1993                    3.125634e+09
Processing table 5...
Header row for table 5: 5

First 3 rows:
        Country Notes 1948 1949 1950 1951 1952 1953 1954 1955  ... 2014 2015  \
0           NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN
1        Africa   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN
2  North Africa   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN

  2016 2017 2018 2019 2020 2021 2022 2023
0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[3 rows x 78 columns]
Table 5 output:
                     country  year  military_expenditures_current_usd
8810                 Albania  1993                       3.928984e+07
8811  Bosnia and Herzegovina  1993                                NaN
8812                Bulgaria  1993                       2.826742e+08
8813                 Croatia  1993                       5.779783e+08
8814                 Czechia  1993                       8.155855e+08
Processing table 6...
Header row for table 6: 5

First 3 rows:
        Country Notes 1948 1949 1950 1951 1952 1953 1954 1955  ... 2014 2015  \
0           NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN
1        Africa   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN
2  North Africa   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN

  2016 2017 2018 2019 2020 2021 2022 2023
0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[3 rows x 78 columns]
Table 6 output:
                     country  year  share_GDP
8810                 Albania  1993   0.031995
8811  Bosnia and Herzegovina  1993        NaN
8812                Bulgaria  1993   0.026093
8813                 Croatia  1993   0.107268
8814                 Czechia  1993   0.023304
Processing table 8...
Header row for table 8: 7

First 3 rows:
        Country Notes  Reporting year 1988 1989 1990 1991 1992 1993 1994  ...  \
0           NaN   NaN             NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...
1        Africa   NaN             NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...
2  North Africa   NaN             NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...

  2014 2015 2016 2017 2018 2019 2020 2021 2022 2023
0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[3 rows x 39 columns]
Table 8 output:
                     country  year  share_govt
1090                 Albania  1993         NaN
1091  Bosnia and Herzegovina  1993         NaN
1092                Bulgaria  1993         NaN
1093                 Croatia  1993    0.250241
1094                 Czechia  1993         NaN

Ok! Let's move on to the next part.

## Merge all tables
We will now merge all the tables and get the following structure:
| country    | year | military_expenditures_usd_2022  | military_expenditures_current_usd | share_GDP | share_govt | 
| -------- | ------- | ------- | ------- | ------- | ------- |

In [82]:
sipri_joined_table = sipri_tb4.merge(sipri_tb5, on=["country", "year"],how="outer") \
                              .merge(sipri_tb6, on=["country", "year"], how="outer") \
                              .merge(sipri_tb8, on=["country", "year"], how="outer") 

sipri_joined_table.head()

,country,year,military_expenditures_usd_2022,military_expenditures_current_usd,share_GDP,share_govt
0,Albania,1993,1.515335e+08,3.928984e+07,0.031995,NaN
1,Albania,1994,1.448474e+08,4.964950e+07,0.025478,NaN
2,Albania,1995,1.349759e+08,5.090752e+07,0.020536,NaN
3,Albania,1996,1.212103e+08,4.571336e+07,0.013790,NaN
4,Albania,1997,8.462970e+07,2.982549e+07,0.012831,0.044247

In [83]:
# Sample data from a single country.
sipri_joined_table[sipri_joined_table["country"]=="France"]

,country,year,military_expenditures_usd_2022,military_expenditures_current_usd,share_GDP,share_govt
434,France,1993,5.001899e+10,3.577527e+10,0.026895,0.048988
435,France,1994,5.027632e+10,3.728861e+10,0.026604,0.048970
436,France,1995,4.778746e+10,4.012402e+10,0.024925,0.045726
437,France,1996,4.665076e+10,3.897773e+10,0.024145,0.044230
438,France,1997,4.681931e+10,3.469790e+10,0.023754,0.043796
439,France,1998,4.557486e+10,3.363356e+10,0.022262,0.042278
440,France,1999,4.595824e+10,3.267271e+10,0.021778,0.041592
441,France,2000,4.543840e+10,2.840314e+10,0.020850,0.040366
442,France,2001,4.529832e+10,2.795157e+10,0.020307,0.039265
443,France,2002,4.622902e+10,3.057840e+10,0.020463,0.038758
444,France,2003,4.762351e+10,3.856912e+10,0.020957,0.039340
445,France,2004,4.892368e+10,4.452458e+10,0.021044,0.039716
446,France,2005,4.792087e+10,4.444205e+10,0.020237,0.037972
447,France,2006,4.814168e+10,4.579215e+10,0.019751,0.037354
448,France,2007,4.812353e+10,5.068447e+10,0.019075,0.036288
449,France,2008,4.777380e+10,5.536597e+10,0.018971,0.035595
450,France,2009,5.130841e+10,5.644146e+10,0.020981,0.036712
451,France,2010,4.887619e+10,5.204406e+10,0.019694,0.034623
452,France,2011,4.742271e+10,5.412087e+10,0.018914,0.033601
453,France,2012,4.669425e+10,5.021651e+10,0.018711,0.032764
454,France,2013,4.639172e+10,5.200146e+10,0.018499,0.032325
455,France,2014,4.719908e+10,5.313475e+10,0.018630,0.032561
456,France,2015,4.849026e+10,4.564747e+10,0.018723,0.032964
457,France,2016,5.037031e+10,4.737059e+10,0.019173,0.033823
458,France,2017,5.103303e+10,4.919566e+10,0.019086,0.033779
459,France,2018,4.977404e+10,5.140981e+10,0.018430,0.033121
460,France,2019,5.059638e+10,5.011893e+10,0.018365,0.033178
461,France,2020,5.205362e+10,5.274706e+10,0.019965,0.032544
462,France,2021,5.301170e+10,5.664700e+10,0.019144,0.032416
463,France,2022,5.363875e+10,5.363875e+10,0.019324,0.033139
464,France,2023,5.712472e+10,6.130129e+10,0.020564,0.035669

Awesome! We can now export our `SIPRI` dataset to the `transformed` folder.

In [84]:
# Export output to transformed
sipri_joined_table.to_csv(f"{transformed_data}sipri_dataset.csv", index=False)

# Data transformation | Coordinates for City Capitals
Our goals here are:
- Import the raw data.
- Check its structure.
- Select targeted countries (European).
- Rename variables and values.
  - Make sure that names of countries matches those from SIPRI dataset.
- Create columns
  - Distance, in km and miles, from the city capital to Moscow.
## Import data

In [126]:
city_coords = pd.read_csv(f"{raw_data}city_capitals_coords.csv")

In [127]:
city_coords

,Country,Capital City,Latitude,Longitude,Population,Capital Type
0,Afghanistan,Kabul,34.5289,69.1725,4011770,Capital
1,Albania,Tiranë (Tirana),41.3275,19.8189,475577,Capital
2,Algeria,El Djazaïr (Algiers),36.7525,3.0420,2693542,Capital
3,American Samoa,Pago Pago,-14.2781,-170.7025,48526,Capital
4,Andorra,Andorra la Vella,42.5078,1.5211,22614,Capital
...,...,...,...,...,...,...
229,Wallis and Futuna Islands,Matu-Utu,-13.2816,-176.1745,1025,Capital
230,Western Sahara,El Aaiún,27.1532,-13.2014,232388,Capital
231,Yemen,Sana'a',15.3531,44.2078,2779317,Capital
232,Zambia,Lusaka,-15.4134,28.2771,2523844,Capital
233,Zimbabwe,Harare,-17.8294,31.0539,1515016,Capital

## Check the table structure

In [128]:
city_coords.shape

(234, 6)

In [129]:
city_coords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       234 non-null    object
 1   Capital City  234 non-null    object
 2   Latitude      234 non-null    float64
 3   Longitude     234 non-null    float64
 4   Population    234 non-null    int64
 5   Capital Type  234 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 11.1+ KB

There is not much to do here. Our table seems to be in good shape. We can focus on:
- Selecting our countries
- Removing unnecessary columns

## Select countries, remove columns

In [130]:
city_coords["Country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Caribbean Netherlands', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Channel Islands', 'Chile',
       'China', 'China, Hong Kong SAR', 'China, Macao SAR',
       'China, Taiwan Province of China', 'Colombia', 'Comoros', 'Congo',
       'Cook Islands', 'Costa Rica', "Côte d'Ivoire", 'Croatia', 'Cuba',
       'Curaçao', 'Cyprus', 'Czechia', "Dem. People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Faeroe Islands', 'Falkland Islands (Malvinas)',
       'Fiji', 'Finland', 'France', 'French Guiana', 'French Polynesia',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Isle of Man',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan',
       "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mayotte', 'Mexico', 'Micronesia (Fed. States of)', 'Monaco',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan',
       'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Republic of Korea', 'Republic of Moldova', 'Réunion', 'Romania',
       'Russian Federation', 'Rwanda', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'State of Palestine', 'Sudan', 'Suriname',
       'Swaziland', 'Sweden', 'Switzerland', 'Syrian Arab Republic',
       'Tajikistan', 'TFYR Macedonia', 'Thailand', 'Timor-Leste', 'Togo',
       'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United Republic of Tanzania', 'United States of America',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam',
       'Wallis and Futuna Islands', 'Western Sahara', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [131]:
city_coords_countries_list = [
    "Albania", "Armenia", "Austria", "Azerbaijan", 
    "Belarus", "Belgium", "Bosnia and Herzegovina", "Bulgaria",
    "Croatia", "Czechia", "Cyprus", "Denmark",
    "Estonia", "Finland", "France", "Georgia",
    "Germany", "Greece", "Hungary", "Iceland", 
    "Ireland", "Italy", "Kosovo", "Latvia",
    "Luxembourg", "Malta", "Republic of Moldova", "Montenegro",
    "Netherlands", "North Macedonia", "Norway", "Poland",
    "Portugal", "Romania", "Russian Federation", "Serbia", 
    "Slovakia", "Slovenia", "Spain", "Sweden",
    "Switzerland", "Turkey", "Ukraine",
    "United Kingdom", "Yugoslavia"
]

In [132]:
# Select countries using list
city_coords = city_coords[city_coords["Country"].isin(city_coords_countries_list)].reset_index(drop=True)

In [133]:
city_coords

,Country,Capital City,Latitude,Longitude,Population,Capital Type
0,Albania,Tiranë (Tirana),41.3275,19.8189,475577,Capital
1,Armenia,Yerevan,40.1820,44.5146,1080324,Capital
2,Austria,Wien (Vienna),48.2064,16.3707,1900547,Capital
3,Azerbaijan,Baku,40.3777,49.8920,2285729,Capital
4,Belarus,Minsk,53.9000,27.5667,2004672,Capital
5,Belgium,Bruxelles-Brussel,50.8467,4.3499,2049510,Capital
6,Bosnia and Herzegovina,Sarajevo,43.8486,18.3564,342577,Capital
7,Bulgaria,Sofia,42.6975,23.3242,1272418,Capital
8,Croatia,Zagreb,45.8144,15.9780,685587,Capital
9,Cyprus,Lefkosia (Nicosia),35.1595,33.3669,269469,Capital
10,Czechia,Praha (Prague),50.0880,14.4208,1291552,Capital
11,Denmark,København (Copenhagen),55.6759,12.5655,1320826,Capital
12,Estonia,Tallinn,59.4370,24.7535,437027,Capital
13,Finland,Helsinki,60.1692,24.9402,1279096,Capital
14,France,Paris,48.8534,2.3488,10900952,Capital
15,Georgia,Tbilisi,41.6941,44.8337,1077333,Capital
16,Germany,Berlin,52.5244,13.4105,3552123,Capital
17,Greece,Athínai (Athens),37.9534,23.7490,3155600,Capital
18,Hungary,Budapest,47.4980,19.0399,1759497,Capital
19,Iceland,Reykjavík,64.1355,-21.8954,216364,Capital
20,Ireland,Dublin,53.3331,-6.2489,1201426,Capital
21,Italy,Roma (Rome),41.8947,12.4811,4209710,Capital
22,Latvia,Riga,56.9460,24.1059,637089,Capital
23,Luxembourg,Luxembourg,49.6117,6.1300,119752,Capital
24,Malta,Valletta,35.8997,14.5147,212768,Capital
25,Montenegro,Podgorica,42.4411,19.2636,177177,Capital
26,Netherlands,Amsterdam,52.3740,4.8897,1131690,Capital
27,Norway,Oslo,59.9127,10.7461,1012225,Capital
28,Poland,Warszawa (Warsaw),52.2298,21.0118,1767798,Capital
29,Portugal,Lisboa (Lisbon),38.7169,-9.1399,2927316,Capital
30,Republic of Moldova,Chişinău,47.0056,28.8575,509707,Capital
31,Romania,Bucuresti (Bucharest),44.4328,26.1043,1821380,Capital
32,Russian Federation,Moskva (Moscow),55.7550,37.6218,12409738,Capital
33,Serbia,Beograd (Belgrade),44.8176,20.4633,1389351,Capital
34,Slovakia,Bratislava,48.1482,17.1067,429920,Capital
35,Slovenia,Ljubljana,46.0511,14.5051,286491,Capital
36,Spain,Madrid,40.4165,-3.7026,6497124,Capital
37,Sweden,Stockholm,59.3326,18.0649,1582968,Capital
38,Switzerland,Bern,46.9481,7.4474,422153,Capital
39,Turkey,Ankara,39.9199,32.8543,4919074,Capital
40,Ukraine,Kyiv (Kiev),50.4454,30.5186,2956706,Capital
41,United Kingdom,London,51.5085,-0.1257,9046485,Capital

In [134]:
city_coords

,Country,Capital City,Latitude,Longitude,Population,Capital Type
0,Albania,Tiranë (Tirana),41.3275,19.8189,475577,Capital
1,Armenia,Yerevan,40.1820,44.5146,1080324,Capital
2,Austria,Wien (Vienna),48.2064,16.3707,1900547,Capital
3,Azerbaijan,Baku,40.3777,49.8920,2285729,Capital
4,Belarus,Minsk,53.9000,27.5667,2004672,Capital
5,Belgium,Bruxelles-Brussel,50.8467,4.3499,2049510,Capital
6,Bosnia and Herzegovina,Sarajevo,43.8486,18.3564,342577,Capital
7,Bulgaria,Sofia,42.6975,23.3242,1272418,Capital
8,Croatia,Zagreb,45.8144,15.9780,685587,Capital
9,Cyprus,Lefkosia (Nicosia),35.1595,33.3669,269469,Capital
10,Czechia,Praha (Prague),50.0880,14.4208,1291552,Capital
11,Denmark,København (Copenhagen),55.6759,12.5655,1320826,Capital
12,Estonia,Tallinn,59.4370,24.7535,437027,Capital
13,Finland,Helsinki,60.1692,24.9402,1279096,Capital
14,France,Paris,48.8534,2.3488,10900952,Capital
15,Georgia,Tbilisi,41.6941,44.8337,1077333,Capital
16,Germany,Berlin,52.5244,13.4105,3552123,Capital
17,Greece,Athínai (Athens),37.9534,23.7490,3155600,Capital
18,Hungary,Budapest,47.4980,19.0399,1759497,Capital
19,Iceland,Reykjavík,64.1355,-21.8954,216364,Capital
20,Ireland,Dublin,53.3331,-6.2489,1201426,Capital
21,Italy,Roma (Rome),41.8947,12.4811,4209710,Capital
22,Latvia,Riga,56.9460,24.1059,637089,Capital
23,Luxembourg,Luxembourg,49.6117,6.1300,119752,Capital
24,Malta,Valletta,35.8997,14.5147,212768,Capital
25,Montenegro,Podgorica,42.4411,19.2636,177177,Capital
26,Netherlands,Amsterdam,52.3740,4.8897,1131690,Capital
27,Norway,Oslo,59.9127,10.7461,1012225,Capital
28,Poland,Warszawa (Warsaw),52.2298,21.0118,1767798,Capital
29,Portugal,Lisboa (Lisbon),38.7169,-9.1399,2927316,Capital
30,Republic of Moldova,Chişinău,47.0056,28.8575,509707,Capital
31,Romania,Bucuresti (Bucharest),44.4328,26.1043,1821380,Capital
32,Russian Federation,Moskva (Moscow),55.7550,37.6218,12409738,Capital
33,Serbia,Beograd (Belgrade),44.8176,20.4633,1389351,Capital
34,Slovakia,Bratislava,48.1482,17.1067,429920,Capital
35,Slovenia,Ljubljana,46.0511,14.5051,286491,Capital
36,Spain,Madrid,40.4165,-3.7026,6497124,Capital
37,Sweden,Stockholm,59.3326,18.0649,1582968,Capital
38,Switzerland,Bern,46.9481,7.4474,422153,Capital
39,Turkey,Ankara,39.9199,32.8543,4919074,Capital
40,Ukraine,Kyiv (Kiev),50.4454,30.5186,2956706,Capital
41,United Kingdom,London,51.5085,-0.1257,9046485,Capital

In [135]:
# Remove columns
city_coords = city_coords.iloc[:, :-2]

In [136]:
city_coords

                   Country            Capital City  Latitude  Longitude
0                  Albania         Tiranë (Tirana)   41.3275    19.8189
1                  Armenia                 Yerevan   40.1820    44.5146
2                  Austria           Wien (Vienna)   48.2064    16.3707
3               Azerbaijan                    Baku   40.3777    49.8920
4                  Belarus                   Minsk   53.9000    27.5667
5                  Belgium       Bruxelles-Brussel   50.8467     4.3499
6   Bosnia and Herzegovina                Sarajevo   43.8486    18.3564
7                 Bulgaria                   Sofia   42.6975    23.3242
8                  Croatia                  Zagreb   45.8144    15.9780
9                   Cyprus      Lefkosia (Nicosia)   35.1595    33.3669
10                 Czechia          Praha (Prague)   50.0880    14.4208
11                 Denmark  København (Copenhagen)   55.6759    12.5655
12                 Estonia                 Tallinn   59.4370    24.7535
13                 Finland                Helsinki   60.1692    24.9402
14                  France                   Paris   48.8534     2.3488
15                 Georgia                 Tbilisi   41.6941    44.8337
16                 Germany                  Berlin   52.5244    13.4105
17                  Greece        Athínai (Athens)   37.9534    23.7490
18                 Hungary                Budapest   47.4980    19.0399
19                 Iceland               Reykjavík   64.1355   -21.8954
20                 Ireland                  Dublin   53.3331    -6.2489
21                   Italy             Roma (Rome)   41.8947    12.4811
22                  Latvia                    Riga   56.9460    24.1059
23              Luxembourg              Luxembourg   49.6117     6.1300
24                   Malta                Valletta   35.8997    14.5147
25              Montenegro               Podgorica   42.4411    19.2636
26             Netherlands               Amsterdam   52.3740     4.8897
27                  Norway                    Oslo   59.9127    10.7461
28                  Poland       Warszawa (Warsaw)   52.2298    21.0118
29                Portugal         Lisboa (Lisbon)   38.7169    -9.1399
30     Republic of Moldova                Chişinău   47.0056    28.8575
31                 Romania   Bucuresti (Bucharest)   44.4328    26.1043
32      Russian Federation         Moskva (Moscow)   55.7550    37.6218
33                  Serbia      Beograd (Belgrade)   44.8176    20.4633
34                Slovakia              Bratislava   48.1482    17.1067
35                Slovenia               Ljubljana   46.0511    14.5051
36                   Spain                  Madrid   40.4165    -3.7026
37                  Sweden               Stockholm   59.3326    18.0649
38             Switzerland                    Bern   46.9481     7.4474
39                  Turkey                  Ankara   39.9199    32.8543
40                 Ukraine             Kyiv (Kiev)   50.4454    30.5186
41          United Kingdom                  London   51.5085    -0.1257